body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.app {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

.card {
  background: white;
  padding: 15px;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
}
